.garantia {
  padding: 40px 20px;
}

.garantia div {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.garantia div h1 {
  font: 700 4rem/1 "Sora", sans-serif;
}

.garantia p {
  margin-left: 60px;
}

@media (max-width: 800px) {
  .garantia {
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }

  .garantia div {
    display: flex;
    gap: 40px;
  }
  .garantia p {
    margin-left: 0px;
  }
}

@media (max-width: 450px) {
  .garantia {
    margin: 10px 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .garantia div {
    flex-wrap: wrap;
    justify-content: center;
  }
  .garantia div h1 {
    font-size: 3rem;
    text-align: center;
  }
  .garantia p {
    font-size: 1rem;
  }
}
