.garantia {
  display: flex;
  margin-top: 60px;
  gap: 60px;
}

.garantia div h1 {
  font: 700 4rem/1 "Sora", sans-serif;
}

@media (max-width: 800px) {
  .garantia {
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }

  .garantia div {
    display: flex;
    gap: 40px;
  }
}
