.inicio-bg {
  background-image: url("../img/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 580px;
}

.inicio img {
  padding-top: 80px;
  padding-bottom: 30px;
}

.inicio h1 {
  max-width: 517px;
  margin-bottom: 12px;
}

.inicio > p {
  max-width: 517px;
  margin-bottom: 24px;
}

/* @media (max-width: 1280px) {
  .inicio-bg {
    background-image: url("../img/bg-1-1280.jpg");
  }
} */

@media (max-width: 800px) {
  .inicio-bg {
    background-image: url("../img/bg-1-800.jpg");
    height: 800px;
  }
  .inicio img {
    padding-top: 330px;
  }

}

@media (max-width: 431px) {
  .inicio-bg {
    background-image: url("../img/bg-1-431.jpg");
    height: 850px;
  }
  .inicio img {
    padding-top: 300px;
  }
  .inicio h1 {
    font-size: 1.6rem;
  }
  .inicio p {
    font-size: 1rem;
  }

}