.oferta-bg {
  background-image: url("./img/expert-oferta.jpg");
  background-position: top;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
}

.oferta h1 {
  padding-top: 60px;
  max-width: 500px;
}

.oferta-box {
  background: linear-gradient(180deg, #0f5580 0%, #063653 100%);
  border-radius: 6px;
  max-width: 500px;
  padding: 50px 60px;
  margin-top: 24px;
  position: relative;
}

.oferta-box::before {
  content: "";
  background-image: url("./img/icons/bookmark-icon.svg");
  height: 53px;
  width: 53px;
  position: absolute;
  top: -4px;
  right: 10px;
}

.oferta img {
  margin-top: 24px;
  margin-left: 32px;
}

.oferta a {
  margin-left: 0;
}

.oferta-antiga > p {
  font: 400 1.5rem/1.5 "Sora", sans-serif;
  text-align: center;
  margin-bottom: 20px;
  text-decoration-line: line-through;
}

.oferta-nova {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.oferta-nova span:last-child {
  font: 700 4rem/1 "Sora", sans-serif;
}

.avista {
  text-align: right;
  margin-top: 10px;
  font-weight: 700;
}

@media (max-width: 800px) {
  .oferta-bg {
    background-image: url("./img/expert-oferta-800.jpg");
    height: 1000px;
  }

  .oferta > h1 {
    padding-top: 400px;
  }

  .oferta-box {
    margin-top: 20px;
  }

  .oferta-nova::before,
  .oferta a::before,
  .oferta-box::after {
    display: none;
  }
}

@media (max-width: 431px) {
  .oferta-bg {
    background-image: url("./img/bg-oferta-431.jpg");
    height: 900px;
  }
  .oferta h1 {
    font-size: 1.6rem;
    padding-top: 370px;
  }
  .oferta-box {
    padding: 30px 40px;
  }
  .oferta-nova span:first-child {
    font-size: 1.5rem;
  }
  .oferta-nova span:last-child {
    font-size: 2.5rem;
  }
  .oferta img {
    margin-top: 20px;
    margin-left: 0;
  }
}
@media (max-width: 393px) {
  .btn2 {
    padding: 10px 30px;
    font-size: 1.125rem;
  }
}

@media (max-width: 375px) {
  .oferta-box {
    padding: 20px 30px;
  }
  .oferta-nova span:last-child {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .oferta-nova {
    flex-wrap: wrap;
  }
}
