.expert-bio {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 40px;
  gap: 60px;  
}

/* .expert-bio img {
  object-fit: cover;
} */

.expert-texto {
  margin-top: 10px;
}

.expert-texto h2 {
  margin: 40px 0 30px 0;
}

@media (max-width: 800px) {
  .expert-bio {
    margin-top: 60px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .expert-texto h2 {
    margin: 30px 0 20px 0;
  }
}

@media (max-width: 431px) {
  .expert-bio {
    grid-template-columns: 1fr;
  }
  .expert-texto h1 {
    font-size: 1.6rem;
  }
  .expert-texto p {
    font-size: 1rem;
  }
}
